@import "./base.css";

body {
  color: var(--color-text);
  display: grid;
  place-content: center;
}

.wrapper {
  max-width: 1440px;
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;

  padding: 1.25rem; /* 97 140 */

  background-repeat: no-repeat;
}
.flex {
  display: flex;
  flex-direction: column;
}

@media (min-width: 37.5rem) {
  body {
    display: unset;
  }
  .wrapper {
    max-width: 1440px;
    padding: 54px 64px; /* d 54 64  */
    width: 100vw;
  }
}

@media (min-width: 800px) {
  .wrapper {
    max-width: 1440px;
    padding: 97px 140px; /* d 54 64  */
  }
  .flex {
    display: flex;
    flex-direction: row;
    gap: 130px;
  }
  .flex > * {
    width: 50%;
  }
}

@media (min-width: 800px) {
  .wrapper {
  }
}
